#include "resources.h"
#if defined(WINDOWS) && !defined(_CONSOLE)
#include <windows.h>

ID_ICON ICON "TheOTXServer.ico"

ID_MENU MENU
BEGIN
	POPUP "&Main"
	BEGIN
		MENUITEM "&Accept connections", ID_MENU_MAIN_ACCEPT
		MENUITEM "&Reject connections", ID_MENU_MAIN_REJECT
		MENUITEM "&Clear log", ID_MENU_MAIN_CLEARLOG
		MENUITEM SEPARATOR
		MENUITEM "&Shut-down", ID_MENU_MAIN_SHUTDOWN
	END

	POPUP "&Actions"
	BEGIN
		MENUITEM "&Broadcast message", ID_MENU_SERVER_BROADCAST
		MENUITEM "&Clean map", ID_MENU_SERVER_CLEAN
		MENUITEM "&Refresh map", ID_MENU_SERVER_REFRESH
		MENUITEM "&Save server", ID_MENU_SERVER_SAVE
		MENUITEM "&Close server", ID_MENU_SERVER_CLOSE
		MENUITEM SEPARATOR
		POPUP "&Player Actions"
		BEGIN
			MENUITEM "&Premium Account", ID_MENU_ADD_PREMIUM
			MENUITEM "&Kick Player", ID_MENU_KICK_PLAYER
		END
	END

	POPUP "&Reload"
	BEGIN
		MENUITEM "&Actions", ID_MENU_RELOAD_ACTIONS
		MENUITEM "&Chat", ID_MENU_RELOAD_CHAT
		MENUITEM "&Con-fig", ID_MENU_RELOAD_CONFIG
		MENUITEM "&Creature Events", ID_MENU_RELOAD_CREATUREEVENTS
		MENUITEM "&Global Events", ID_MENU_RELOAD_GLOBALEVENTS
		MENUITEM "&Monsters", ID_MENU_RELOAD_MONSTERS
		MENUITEM "&Movements", ID_MENU_RELOAD_MOVEMENTS
		MENUITEM "&Quests", ID_MENU_RELOAD_QUESTS
		MENUITEM "&Raids", ID_MENU_RELOAD_RAIDS
		MENUITEM "&Spells", ID_MENU_RELOAD_SPELLS
		MENUITEM "&Stages", ID_MENU_RELOAD_STAGES
		MENUITEM "&Talk-actions", ID_MENU_RELOAD_TALKACTIONS
		MENUITEM "&Mods", ID_MENU_RELOAD_MODS
		#ifdef __LOGIN_SERVER__
		MENUITEM "&Game Servers", ID_MENU_RELOAD_GAMESERVERS
		#endif
		MENUITEM "&Highscores", ID_MENU_RELOAD_HIGHSCORES
	END

	POPUP "&Support"
	BEGIN
		MENUITEM "&Black Tibia", ID_MENU_OTSERV
		MENUITEM "&Tibia King", ID_MENU_OTSERV2
		MENUITEM "&OTLand", ID_MENU_OTSERV3
		MENUITEM "&OTServList", ID_MENU_OT_SERVERLIST
		MENUITEM SEPARATOR
		MENUITEM "&Bug Report & Feature Request", ID_MENU_BUG_FEATURE
		MENUITEM "&Source Code", ID_MENU_SERVER_SOURCE
	END

	POPUP "&World Type"
	BEGIN
		MENUITEM "&Optional", ID_MENU_SERVER_WORLDTYPE_OPTIONAL
		MENUITEM "&Open", ID_MENU_SERVER_WORLDTYPE_OPEN
		MENUITEM "&Hardcore", ID_MENU_SERVER_WORLDTYPE_HARDCORE
	END

	POPUP "&About"
	BEGIN
		MENUITEM "&The OTX Server", ID_MENU_ABOUT_SERVER
		MENUITEM "&Developers", ID_MENU_ABOUT_DEVELOPERS
		MENUITEM "&GUI Executable", ID_MENU_ABOUT_GUI_EXECUTABLE
	END
END
#endif
